// Variables
@import "variables";
@import "mixins";

// frame
@import "app/wireframe";

.faf-l {
	margin-left: 0.5rem;
}

.faf-r {
	margin-right: 0.5rem;
}

.btn-fa-hover {
	&:hover {
		svg {
			margin-left: 1rem;
		}
	}
	svg {
		transition: margin-left 0.23s ease;
	}
}

.row.card-holder {
	margin-left: -5px;
	margin-right: -5px;
	& > [class^="col-"] {
		padding: 5px 5px;
	}
}

a {
	color: $secondary;
	&:hover {
		color: #000;
	}
}

.note-toolbar.card-header {
	display: block !important;
	position: relative !important;
	top: 0 !important;
	z-index: 30;
	background: #f7f7f7 !important;
}

.alertify {
	z-index: 9999;
	nav button {
		padding-left: 13px !important;
		padding-right: 13px !important;
	}
}

.icon {
	display: inline-block;
	width: 1.4rem;
	height: 1rem;
	text-align: center;
	margin-right: 0.25rem;
}

.dropdown-item {
	padding-left: 1rem;
}

#openings-card {
	display: block;
	position: relative;
	margin-bottom: 110px;
	padding-bottom: 56px;
	.openings-table {
		margin: 0;
		tr:nth-child(4n+3),
		tr:nth-child(4n+4) {
			background: #f3f6f9;
			input[readonly] {
				background: #fff;
			}
		}
	}
	#openings-save-bar {
		position: absolute;
		right: 0; bottom: 0; left: 0;
		height: 56px;
		box-sizing: border-box;
		background-color: #F7F7F7 !important;
		z-index: 200;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
	}
}

.oez-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.oez-card {
	position: relative;
	margin: 10% auto 0;
	display: inline-block;
	width: auto;
	max-width: 100%;
	& div {
		display: inline-block;
	}
}

.oez-tabelle {
	display: table;
	font-size: 1.3rem;
	position: relative;
	white-space: nowrap;
	min-width: 400px;
	tr td {
		text-align: center;
		font-style: italic;
	}
	tr th {
		text-align: right;
		vertical-align: top;
		padding-right: 3rem;
		width: 170px;
	}
	tr th, tr td:not(.text) {
		padding-top: 1rem;
	}
	tr:first-of-type {
		th, td {
			padding-top: 0;
		}
	}
}

.font-style-normal {
	font-style: normal !important;
}

.table-bordered {
	th, td {
		border-color: #aaa !important;
	}
}

.cell-narrow {
	width: 0;
	white-space: nowrap;
}
