// Variables
@import "variables";
@import "mixins";

// frame
@import "app/wireframe";

.faf-l {
	margin-left: 0.5rem;
}

.faf-r {
	margin-right: 0.5rem;
}

.btn-fa-hover {
	&:hover {
		svg {
			margin-left: 1rem;
		}
	}
	svg {
		transition: margin-left 0.23s ease;
	}
}

.row.card-holder {
	margin-left: -5px;
	margin-right: -5px;
	& > [class^="col-"] {
		padding: 5px 5px;
	}
}

a {
	color: $secondary;
	&:hover {
		color: #000;
	}
}

.note-toolbar.card-header {
	display: block !important;
	position: relative !important;
	top: 0 !important;
	z-index: 30;
	background: #f7f7f7 !important;
}

.alertify {
	z-index: 9999;
	nav button {
		padding-left: 13px !important;
		padding-right: 13px !important;
	}
}

.icon {
	display: inline-block;
	width: 1.4rem;
	height: 1rem;
	text-align: center;
	margin-right: 0.25rem;
}

.dropdown-item {
	padding-left: 1rem;
}
