@import "../variables";
@import "../mixins";

body {
	background: #fff;
	overflow-y: scroll;
	@include media-breakpoint-up(sm) {
		background: #EED4B2 url("/storage/background-sm.jpg") no-repeat fixed center center;
		background-size: cover;
	}
	@include media-breakpoint-up(lg) {
		background: #EED4B2 url("/storage/background.jpg") no-repeat fixed center center;
		background-size: cover;
	}
}

#app {
	min-height: 100vh;
	padding: 0 !important;
	@include box-shadow(0, 0, 20px, rgba(0, 0, 0, 0.5));
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	@include media-breakpoint-up(lg) {
		@include box-shadow(0, 0, 20px, #000);
	}
}

nav#top-navbar {
	z-index: 50 !important;
	@include box-shadow(-5px, 0, 15px 5px, rgba(0, 0, 0, 0.5));
	@include media-breakpoint-down(md) {
		.navbar-toggler {
			position: absolute;
			right: 1rem;
			top: 0.5rem;
		}
	}
	@include media-breakpoint-up(lg) {
		@include box-shadow(5px, 10px, 15px -5px, rgba(0, 0, 0, 0.4));
	}
	.brand-wrapper {
		box-sizing: border-box;
		position: relative;
		@include media-breakpoint-down(md) {
			flex: 1 1 auto;
			max-width: 100%;
			overflow: hidden;
			padding-right: 60px;
			&, a, small {
				white-space: normal;
				word-break: keep-all;
				display: inline-block;
			}
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 auto;
			width: 14rem;
			overflow: visible;
		}
	}
	#brand-image {
		display: block;
		position: absolute;
		z-index: 60 !important;
		top: -2rem;
		left: -1rem;
		width: 15rem;
		img {
			display: block;
			width: 100%;
		}
	}
	ul#main-navbar {
		.nav-item {
			margin-left: 5px;
			font-size: 1.05rem;
			&.active > * {
				font-weight: bold;
				color: rgba(0, 0, 0, 0.6);
			}
		}
	}
}

#content {
	@include make-col(100);
	flex: 1 0 auto;
	background: $body-bg;
	max-width: 100%;
	@include media-breakpoint-up(lg) {
		@include make-row();
		margin-left: 0 !important;
		margin-right: 0 !important;
		aside#sidebar {
			width: 100%;
			flex: 1 1 auto;
			.sidebar-content {
				$sidebar-links-height: 248px;
				position: sticky;
				top: $sidebar-links-height;
				overflow-y: auto;
				// hau $sidebar-links-height hier auch rein
				max-height: calc(100vh - 248px);
				min-height: 150px;
			}
		}
	}
	aside#sidebar {
		position: relative;
		flex: 0 0 auto;
		background: #232A0A;
		color: #fff;
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: 15rem;
		}
		.links {
			background: transparent;
			border-radius: 0;
			flex-direction: row;
			flex-wrap: wrap;
			@include media-breakpoint-up(lg) {
				flex-direction: column;
				flex-wrap: nowrap;
			}
			.link {
				flex: 1 0 auto;
				display: inline;
				width: auto;
				justify-content: space-between;
				text-align: center;
				margin-bottom: 0;
				@include media-breakpoint-up(lg) {
					flex: 1 1 auto;
					display: block;
					text-align: left;
				}
				background: transparent;
				border-radius: 0;
				color: #fff;
				border: none;
				transition: background 0.2s ease-out;
				&:hover {
					background: #66842F;
				}
				&.active {
					background: #7F3F24;
					&:hover {
						background: #914729;
					}
				}
			}
		}
	}
	main#main {
		flex: 1 1 auto;
		position: relative;
		//noinspection CssOverwrittenProperties
		max-width: 100%;
		//noinspection CssOverwrittenProperties
		@include media-breakpoint-up(lg) {
			max-width: calc(100% - 15rem);
		}
		.loader {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			pointer-events: none;
			transition: 0.2s ease;
			padding-top: 41vh;
			text-align: center;
			background: $body-bg;
			font-size: 4rem;
			color: $brand-primary;
		}
		&.loading {
			.loader {
				opacity: 1;
				pointer-events: all;
			}
		}
		#page-content {
			display: block;
			padding: 2rem 1rem;
			position: relative;
			hr {
				margin: 2rem 0;
			}
			section {
				display: block;
				position: relative;
				margin: 0 auto 2rem;
				&.text-section {
					max-width: 100%;
					@include media-breakpoint-up(md) {
						max-width: 35rem;
						p {
							text-align: justify;
						}
					}
				}
				&.wide-image-section {
					img {
						max-width: 100%;
						border-radius: 3px;
						box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.5);
					}
					span.img-credit {
						font-size: 0.7rem;
						color: #666;
					}
					iframe {
						border: 1px solid #bbb;
						width: 100%;
						height: 500px;
						box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.5);
						border-radius: 12px;
						overflow: hidden;
					}
				}
				&.event-section {
					margin: 1.5rem 0;
					p {
						&.caption {
							margin: 0.5rem 0;
							font-size: 1rem;
						}
					}
				}
				&:last-child {
					&::after {
						content: '';
						display: block;
						position: relative;
						height: 100px;
						pointer-events: none;
					}
				}
			}
		}
	}
}
